.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pper
HomeApplication_cafe.xlsx
FastCampus/LDA_output/HomeApplication_10_DOC_LDA_Result.csv
*.csv
FastCampus/LDA_output/HomeApplication_10_DOC_LDA_Result.csv

*.pper
