.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pper

*.pper

*.pper

FastCampus/.Rproj.user/497D3CBF/pcs/workbench-pane.pper

*.pper

*.xls

FastCampus/.Rproj.user/497D3CBF/pcs/source-pane.pper

FastCampus/.Rproj.user/497D3CBF/pcs/source-pane.pper

HouseKeepingBook/accountBook.csv
CompanyWork/beautyReview/backup/forReviewAnalysis.RData
CompanyWork/beautyReview/backup/forReview.RData
CompanyWork/beautyReview/backup/reviewForBeauty_0315.RData
CompanyWork/SurveyResult/referRanking.csv

FastCampus/Week_8/temp.RDATA

HouseKeepingBook/.RData

HouseKeepingBook/.RData

Crawler/petitions_finished.RDS
*.pper
*.RDS
*.pper
*.pper
*.pper
*.pper
*.pper
FastCampus/Week_5/trainTxt.bin
FastCampus/Week_5/trainTxt.txt
FastCampus/.DS_Store
FastCampus/.DS_Store
*.csv
*.pper
*.pper

!FastCampus/raw_data/petitions_content_2018.RDS
!FastCampus/raw_data/petitions_category_name_2018.RDS
!FastCampus/raw_data/Blog_TrainingSet_Spam.xlsx
!FastCampus/raw_data/Blog_TestSet_Spam.xlsx
!FastCampus/raw_data/test_target_val.csv
!FastCampus/raw_data/training_target_val.csv
HouseKeepingBook/.Rhistory
FastCampus/Week_5/tf_word_name.tsv
FastCampus/Week_5/tf_word_vector.tsv
*.pper

keras_pratice/data/*
KeywordExtraction/sample/180801.tsv
