.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pper
HomeApplication_cafe.xlsx
FastCampus/LDA_output/HomeApplication_10_DOC_LDA_Result.csv
*.csv
FastCampus/LDA_output/HomeApplication_10_DOC_LDA_Result.csv

*.pper

*.pper

*.pper

FastCampus/.Rproj.user/497D3CBF/pcs/workbench-pane.pper

*.pper
